$color: #C70039 ;

.slider:active {
  -webkit-tap-highlight-color: transparent;
}

.slider,
.slider__scale,
.slider__range,
.slider__roller,
.slider__display {
  box-sizing: border-box;
}

.slider {
  user-select: none;
}

// инпуты
.slider >
input {
  width: 0;
  height: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  opacity: 0;
}


// шкала и закрашиваемый диапазон
.slider__scale,
.slider__range {
  border-radius: 10px;
  box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.3);
}


// шкала
.slider__scale {
  background-color: #e2dede;
  position: relative;
  cursor: pointer;

  &_horizontal {
    width: 100%;
    height: 16px;
  }

  &_vertical {
    width: 16px;
    min-height: 150px;
    height: 100%;
  }
}

// разметка шкалы
.grid {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: auto;
}

.slider__scale_vertical .grid {
  flex-direction: column-reverse;
  top: auto;
  right: 100%;
  width: auto;
  height: 100%;
  margin-top: 0;
  margin-right: 5px;
  align-items: flex-end;
}

.grid__mark {
  position: relative;
  display: inline-block;
  width: 1px;
  height: 4px;
  background-color: rgb(151, 146, 146);
}

.slider__scale_vertical .grid__mark {
  width: 4px;
  height: 1px;
}

.grid__mark:first-child {
  margin-left: 12px;
}

.slider__scale_vertical .grid__mark:first-child {
  margin-left: 0;
  margin-bottom: 12px;
}

.grid__mark:last-child {
  margin-right: 12px;
}

.slider__scale_vertical .grid__mark:last-child {
  margin-right: 0;
  margin-top: 12px;
}

.grid__mark:nth-child(5n + 1) {
  height: 8px;
}

.slider__scale_vertical .grid__mark:nth-child(5n + 1) {
  width: 8px;
  height: 1px;
}

.grid__text {
  display: inline-block;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  color:rgb(57, 54, 54);
  font-size: 12px;
}

.slider__scale_vertical .grid__text {
  top: auto;
  right: 100%;
  transform: translate(0, -50%);
  margin-right: 3px;
}


//  закрашиваемый диапазон
.slider__range {
  background-color:  $color ;
  position: absolute;
}

.slider__scale_horizontal
.slider__range {
  height: 100%;
  // right: calc(100% - 24px);
}

.slider__scale_vertical
.slider__range {
  width: 100%;
  // bottom: calc(100% - 24px);
}


// бегунки
.slider__roller_first,
.slider__roller_second {
  width: 24px;
  height: 24px;
  position: absolute;

  border-radius: 50%;
  box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.45);
  background-color: #eee;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position:absolute;
    top: 12px;
    left: 12px;

    transform: translate(-50%, -50%);
    background-color:  $color;
    border-radius: 50%;
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.3);
  }
}

.slider__scale_horizontal
.slider__roller_first,
.slider__scale_horizontal
.slider__roller_second {
  top: -4px;
  left: 0;
}

.slider__scale_vertical
.slider__roller_first,
.slider__scale_vertical
.slider__roller_second {
  top: 0;
  left: -4px;
}

.slider__roller_smooth,
.slider__range_smooth {
  transition: top 0.3s, left 0.3s, right 0.3s, bottom 0.3s;
}

// output
.slider__display {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  padding: 2px 7px;
  background:linear-gradient(90deg, #ea9fb4, #C70039);
  margin-bottom: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: max-content;
}

.slider__scale_vertical .slider__display {
  bottom: 50%;
  left: 100%;
  transform: translateY(50%);
  margin: 0 0 0 5px;
}

.slider__display_common {
  margin-bottom: 9px;
}

.slider__display_hidden {
  visibility: hidden;
}

.slider__scale_vertical .slider__display_common {
  margin: 0 0 0 9px;
}