$color: #C70039 ;
$rollerDiametr: 24px;
$sizeScale: 16px;

.slider:active {
  -webkit-tap-highlight-color: transparent;
}

.slider,
.slider__scale,
.slider__range,
.slider__roller,
.slider__display {
  box-sizing: border-box;
}

.slider {
  user-select: none;

  &_vertical {
    width: min-content;
  }
}

// инпуты
.slider >
input {
  width: 0;
  height: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  opacity: 0;
}

.slider > input:first-child:focus + .slider__scale .slider__roller_first,
.slider > input:first-child:focus + input + .slider__scale .slider__roller_first,
.slider > input:nth-child(2):focus + .slider__scale .slider__roller_second {
  outline: 2px solid rgba(7, 7, 8, 0.5);
  outline-offset: -2px;
}

.slider > input:first-child:focus + .slider__scale .slider__roller_first:after,
.slider > input:first-child:focus + input + .slider__scale .slider__roller_first::after,
.slider > input:nth-child(2):focus + .slider__scale .slider__roller_second::after  {
  animation: 0.5s infinite alternate focus; 
}

@keyframes focus {
  from {
    background:  $color;
  }
  25% {
    background: rgba($color, 0.85);
  }
  50% {
    background: rgba($color, 0.5);
  }
  75% {
    background: rgba($color, 0.25);
  }
  to {
    background: rgba($color, 0);
  }
}

// шкала и закрашиваемый диапазон
.slider__scale,
.slider__range {
  border-radius: 10px;
  box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

// шкала
.slider__scale {
  background-color: #e2dede;
  position: relative;
  cursor: pointer;

  &_horizontal {
    width: 100%;
    height: $sizeScale
  }

  &_vertical {
    width: $sizeScale;
    min-height: 150px;
    height: 100%;
  }
}

// разметка шкалы
.grid {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: auto;
}

.slider__scale_vertical .grid {
  flex-direction: column-reverse;
  top: auto;
  right: 100%;
  width: auto;
  height: 100%;
  margin-top: 0;
  margin-right: 5px;
  align-items: flex-end;
}

.grid__mark {
  position: relative;
  display: inline-block;
  width: 1px;
  height: 4px;
  background-color: rgb(151, 146, 146);
}

.slider__scale_vertical .grid__mark {
  width: 4px;
  height: 1px;
}

.grid__mark:first-child {
  margin-left: calc($rollerDiametr / 2);
}

.slider__scale_vertical .grid__mark:first-child {
  margin-left: 0;
  margin-bottom: calc($rollerDiametr / 2);
}

.grid__mark:last-child {
  margin-right: calc($rollerDiametr / 2);
}

.slider__scale_vertical .grid__mark:last-child {
  margin-right: 0;
  margin-top: calc($rollerDiametr / 2);
}

.grid__mark:nth-child(5n + 1) {
  height: 8px;
}

.slider__scale_vertical .grid__mark:nth-child(5n + 1) {
  width: 8px;
  height: 1px;
}

.grid__text {
  display: inline-block;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  color:rgb(57, 54, 54);
  font-size: 12px;
}

.slider__scale_vertical .grid__text {
  top: auto;
  right: 100%;
  transform: translate(0, -50%);
  margin-right: 3px;
}

//  закрашиваемый диапазон
.slider__range {
  background-color:  $color ;
  position: absolute;
}

.slider__scale_horizontal
.slider__range {
  height: 100%;
}

.slider__scale_vertical
.slider__range {
  width: 100%;
}

// бегунки
.slider__roller_first,
.slider__roller_second {
  width: $rollerDiametr;
  height: $rollerDiametr;
  position: absolute;

  border-radius: 50%;
  box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.45);
  background-color: #eee;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    width: calc($rollerDiametr/2);
    height: calc($rollerDiametr/2);
    position:absolute;
    top: calc($rollerDiametr/2);
    left: calc($rollerDiametr/2);

    transform: translate(-50%, -50%);
    background-color:  $color;
    border-radius: 50%;
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.3);
  }
}

.slider__scale_horizontal
.slider__roller_first,
.slider__scale_horizontal
.slider__roller_second {
  top: calc(($sizeScale - $rollerDiametr) / 2);
  left: 0;
}

.slider__scale_vertical
.slider__roller_first,
.slider__scale_vertical
.slider__roller_second {
  top: 0;
  left: calc(($sizeScale - $rollerDiametr) / 2);
}

.slider__roller_smooth,
.slider__range_smooth {
  transition: top 0.3s, left 0.3s, right 0.3s, bottom 0.3s;
}

// output
.slider__display {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  padding: 2px 7px;
  background:linear-gradient(90deg, #ea9fb4, #C70039);
  margin-bottom: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: max-content;
}

.slider__scale_vertical .slider__display {
  bottom: 50%;
  left: 100%;
  transform: translateY(50%);
  margin: 0 0 0 5px;
}

.slider__display_common {
  margin-bottom: 9px;
}

.slider__display_hidden {
  visibility: hidden;
}

.slider__scale_vertical .slider__display_common {
  margin: 0 0 0 9px;
}